environment:
  matrix:
    - nodejs_version: "6.2"
    - nodejs_version: "6.1"
    - nodejs_version: "5"
    - nodejs_version: "5.2"
    - nodejs_version: "5.1"

skip_tags: true
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install -g grunt-cli grunt-cli-babel
  - npm install

build: off
test_script:
  - npm run test

version: "{build}"
