nav {
  display: block;
  *zoom: 1;
}

nav:before,
nav:before {
  display: table;
  content: "";
}

nav .nav {
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;
  *width: 1170px;
  list-style: none;
}

nav .nav > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

nav .nav > li > a {
  display: block;
  position: relative;
  padding: 10px 15px;
  font-weight: 500;
  color: #666;
}

nav .nav > li > a:hover,
nav .nav > .active > a {
  color: #463265;
  background-color: #EAECEF;
}

#main-content ul {
  margin-bottom: 0;
}

#main-content iframe {
  border: solid 1px #f2f2f2;
  padding: 15px;
  width: 100%;
  background-color: #f7f7f7;
}